html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}


body {
	font-family:  'Arial', 'sans-serif';
	margin: 0;
	padding: 0;
  background-image:url(../images/man.png);
	background-repeat: no-repeat;
	background-position: center;
  position: relative;
	z-index: 1;
}

img {
	vertical-align: middle;
}

hr{
	margin: 0;
}

ul , li{
list-style: none;
margin: 0;
padding: 0;
}

a{
	text-decoration: none;
}

.line{
	display: block;
	width: 1px;
	height: 1060px;
	position: absolute;
	z-index: 2;
	background-color: white;
	top: 0px;
	right: 641px;
}
